body {
    background-color: rgb(30, 0, 65);
}

.caja-neon {
  width: min(90vw, 900px);
  min-height: 80vh;
  margin: 40px auto;
  padding: 24px;
  box-sizing: border-box;

  border: 4px solid transparent;
  border-radius: 16px;

  background:
    linear-gradient(#111, #111) padding-box,
    linear-gradient(90deg, cyan, purple, cyan) border-box;

  background-size: 100% 100%, 300% 300%;
  animation: moverNeon 10s linear infinite;

  box-shadow:
    0 0 12px cyan,
    0 0 30px purple;

  color: white;
}

@keyframes moverNeon {
  0% {
    background-position: 0 0, 0% 50%;
    box-shadow:
      0 0 10px cyan,
      0 0 25px purple;
  }

  50% {
    background-position: 0 0, 150% 50%;
    box-shadow:
      0 0 18px purple,
      0 0 40px cyan;
  }

  100% {
    background-position: 0 0, 300% 50%;
    box-shadow:
      0 0 10px cyan,
      0 0 25px purple;
  }
}

.texto-centrado {
  text-align: center;
  width: 100%;
}

.titulo {
  font-size: 100px;
  margin-top: 10px;
}

.texto-futurista1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700; /* Para que se vea más marcada */
}

.texto-neon1 {
  color: cyan;
  text-shadow:
    0 0 4px cyan,
    0 0 10px cyan,
    0 0 20px purple,
    0 0 40px purple;

    animation: brilloTexto1 1.5s ease-in-out infinite alternate;
}

@keyframes brilloTexto1 {
  from {
    text-shadow:
      0 0 4px cyan,
      0 0 10px cyan,
      0 0 20px rgb(27, 0, 102);
  }

  to {
    text-shadow:
      0 0 8px cyan,
      0 0 20px cyan,
      0 0 35px rgb(0, 9, 128),
      0 0 60px rgb(23, 0, 128);
  }
}

.texto-normal {
  font-family: 'Michroma', sans-serif;
  font-size: 1.25rem;   /* Tamaño imponente */
  letter-spacing: 1.5px; /* Espaciado tech */
}

.texto-neon2 {
  color: rgb(0, 89, 255);
  text-shadow:
    0 0 4px rgb(0, 110, 255),
    0 0 10px rgb(0, 68, 255),
    0 0 20px rgb(221, 99, 0),
    0 0 40px rgb(221, 99, 0);

    animation: brilloTexto2 1.5s ease-in-out infinite alternate;
}

@keyframes brilloTexto2 {
  from {
    text-shadow:
      0 0 4px rgb(0, 60, 255),
      0 0 10px rgb(0, 68, 255),
      0 0 20px rgb(255, 0, 0);
  }

  to {
    text-shadow:
      0 0 8px rgb(0, 89, 255),
      0 0 20px rgb(0, 89, 255),
      0 0 25px rgb(238, 255, 0),
      0 0 27px rgb(238, 255, 0);
  }
}

.apuntes1 {
  margin-left: 25px;
}

.contenido-desplegable {
  display: none;
  margin-top: 12px;
  padding: 16px;
  border: 2px solid cyan;
  border-radius: 12px;
  color: white;
}

.contenido-desplegable.abierto {
  display: block;
}

.codigo {
  margin-left: 50px;
}

.tab1 {
  margin-left: 20px;
}